export const environment = {
  DATABASE_URL: "postgresql://user:password@host:5432/db",
  NEXTAUTH_URL: "https://domain.com/",
  NEXTAUTH_SECRET: "",
  GOOGLE_CLIENT_ID: "",
  GOOGLE_CLIENT_SECRET: "",
  TZ: "UTC",
};
